{% extends '../base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Вход в систему
{% endblock %}

{% block content %}
    {% if next %}
        {% if user.is_authenticated %}
        <p>У вас нет доступа.</p>
        {% else %}
        <p>Вход в систему.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}

    <div>
      <input type="submit" class="btn btn-success" value="Войти!" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>

    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    <p><a href="{% url 'django_registration_register' %}">Регистрация</a></p>
{% endblock %}
