{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}
    Ваш профиль
{% endblock %}

{% block content %}
    <div class="container">
    <h1>
        Привет, {{ request.user.first_name|default:request.user.username }}!
    </h1>
    <div>
        Это ваш профиль.
    </div>
    {% if request.user.avatar %}
    <div>
        <img src="/{{ request.user.avatar }}" alt="Your avatar"/>
    </div>
    {% endif %}
    <form enctype="multipart/form-data" action="{% url 'edit_user_profile' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    </div>
{% endblock %}