{% extends 'base.html' %}
{% load crispy_forms_tags %}
    {% block title %}
        Flowers
    {% endblock %}
    {% block extrastyles %}
    <style>
        body{
            background-color: #fff;
        }
        p{
            color: #000000;
            margin-left: 20px;
            background-color: #ffcabd;
            padding: 5px;
            width: 400px;
        }
        strong{
            color: #d42e0d;
        }
        h2{
            color: #801818;
        }
    </style>
    {% endblock %}


{% block content %}
<div id="container">
    <h2>Вы просматриваете: </h2>
        <h2><strong> {{ flower.flower_name }}</strong></h2>
            <p><img id="id_img" src="{{ flower.img.url }}"> </p>
            <p id="id_color">Цвет: {{ flower.color }}</p>
            <p id="id_country">Страна: {{ flower.country }}</p>
            <p id="id_price">Цена: {{ flower.price }}</p>
        <form enctype="multipart/form-data" action="{% url 'set_flower_photo' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
</div>
{% endblock %}

{% block javascript %}
    $(
{% endblock %}



