h1 {
    font-family: Lobster, Georgia, serif;
    background: rgba(136, 197, 66, 0.58);
    color: #9e365e;   /*AD356E*/
    margin-top: auto;
    padding: 3%;
}
p {
    padding: 1%;
    background: rgba(173,53,110,0.43);
    color: #484fad;
    text-align: center;
    text-anchor: middle;
    font-size: large;
    font-weight: bolder;
}
body {
    background: rgba(72, 79, 173, 0.1);
}