<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    {% block title %}
        Заголовок страницы
    {% endblock %}
{#<script src="{% static "/js/jquery-3.3.1.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "/js/bootstrap.js" %}"></script>#}
{# hz #}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
{#    {% block extrascripts %}{% endblock %}#}
{#    {% block extrastyles %}{% endblock %}#}
    <style>
        body{
            background: url("static/images/back.jpg") no-repeat;
            background-size: 100%;
        }
        .navbar-default{
            margin-left: 500px; /* Отступ слева */
            text-align: center;
            font-family: Lobster;
            font-size: x-large;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
        <div class="navbar-item">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a>
            {% else %}
                Вы &mdash; гость. <a href="{% url 'login' %}?next={{ request.path }}">Войти</a> или
                <a href="{% url 'register_user' %}">зарегистрироваться</a>.
            {% endif %}
        </div>
    </nav>

{% block content %}{% endblock %}

</body>
</html>
