{% extends 'base.html' %}
{% load static %}

{% block title %} Flower Store {% endblock %}

{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Цветы</a></li>
            <li><a href="{% url 'user_profile' %}">Профиль</a></li>
            <li><a href="{% url 'orders' %}">Заказы</a> </li>
            {% block user %}{% endblock %}
        </ul>
    </div>
</nav>
{#    <h2>Каталог цветов</h2>#}
{#    {% for Flower in object_list %}#}
{#        <h2><strong> {{ Flower.flower_name }}</strong></h2>#}
{#            <p><img src="{{ Flower.img.url }}"> </p>#}
{#            <p>Цвет: {{ Flower.color }}</p>#}
{#            <p>Страна: {{ Flower.country }}</p>#}
{#            <p>Цена: {{ Flower.price }}</p>#}
{#            <button>Купить "надо как то сделать"</button>#}
{#    {% endfor %}#}
{% endblock %}